@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "Add a Scripture";

    Validation.RequireField("book", "You must enter a book");
    Validation.RequireField("chapter", "You must enter a chapter");
    Validation.RequireField("verse", "You must enter a verse");
    Validation.RequireField("note", "You must enter a note");
    Validation.RequireField("date", "You must enter a date");

    var book = "";
    var chapter = "";
    var verse = "";
    var note = "";
    var date = ""; 

    if (IsPost && Validation.IsValid())
    {
        book = Request.Form["book"];
        chapter = Request.Form["chapter"];
        verse = Request.Form["verse"];
        note = Request.Form["note"];
        date = Request.Form["date"];

        var db = Database.Open("WebPagesScriptures2");
        var insertCommand = "INSERT INTO Scriptures (book, chapter, verse, note, date) VALUES(@0, @1, @2, @3, @4)";
        db.Execute(insertCommand, book, chapter, verse, note, date);

        Response.Redirect("~/Scriptures");

    }
}


    <h1>Add a Scripture</h1>
    @Html.ValidationSummary()
    <form method="post">
        <fieldset>
            <legend>Scripture Information</legend>
            <p>
                <label for="book">Book:</label>
                <input type="text" name="book" value="@Request.Form["book"]" />
                @Html.ValidationMessage("book")
            </p>

            <p>
                <label for="chapter">Chapter:</label>
                <input type="text" name="chapter" value="@Request.Form["chapter"]" />
                @Html.ValidationMessage("chapter")
            </p>

            <p>
                <label for="verse">Verse:</label>
                <input type="text" name="verse" value="@Request.Form["verse"]" />
                @Html.ValidationMessage("verse")
            </p>
            <p>
                <label for="note">Note:</label>
                <input type="text" name="note" value="@Request.Form["note"]" />
                @Html.ValidationMessage("note")
            </p>
            <p>
                <label for="date">Date Added:</label>
                <input type="text" name="date" value="@Request.Form["date"]" />
                @Html.ValidationMessage("date")
            </p>

            <p><input type="submit" name="buttonSubmit" value="Add Scripture" /></p>
        </fieldset>
    </form>
