@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "Delete Scripture";

    var book = "";
    var chapter = 0;
    var verse = 0;
    var note = "";
    var date = "";
    var scriptureId = "";

    if (!IsPost)
    {
        if (!Request.QueryString["ID"].IsEmpty() && Request.QueryString["ID"].IsInt())
        {
            scriptureId = Request.QueryString["ID"];
            var db = Database.Open("WebPagesScriptures2");
            var dbCommand = "SELECT * FROM Scriptures WHERE ID = @0";
            var row = db.QuerySingle(dbCommand, scriptureId);
            if (row != null)
            {
                book = row.book;
                chapter = row.chapter;
                verse = row.verse;
                note = row.note;
                date = row.date.ToString();
            }
            else
            {
                Validation.AddFormError("No scripture was found for that ID.");
            }
        }
        else
        {
            Validation.AddFormError("No scripture was found for that ID.");
        }
    }


    if (IsPost && !Request["buttonDelete"].IsEmpty())
    {
        scriptureId = Request.Form["scriptureId"];
        var db = Database.Open("WebPagesScriptures2");
        var deleteCommand = "DELETE FROM Scriptures WHERE ID = @0";
        db.Execute(deleteCommand, scriptureId);
        Response.Redirect("~/Scriptures");
    }

}


    <h1>Delete a Scripture</h1>
    @Html.ValidationSummary()
    <p><a href="~/Scriptures">Return to scripture listing</a></p>

    <form method="post">
        <fieldset>
            <legend>Scripture Information</legend>

            <p>
                <span>Book:</span>
                <span>@book</span>
            </p>

            <p>
                <span>Chapter:</span>
                <span>@chapter</span>
            </p>

            <p>
                <span>Verse:</span>
                <span>@verse</span>
            </p>

            <p>
                <span>Note:</span>
                <span>@note</span>
            </p>

            <p>
                <span>Date:</span>
                <span>@date</span>
            </p>

            <input type="hidden" name="scriptureid" value="@scriptureId" />
            <p><input type="submit" name="buttonDelete" value="Delete Scripture" /></p>
        </fieldset>
    </form>

